<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon"
        href="https://th.bing.com/th/id/R.6cc73b5620060d4ba2def37f6d81625c?rik=iOta38bicn4zJA&pid=ImgRaw&r=0">
    <meta name="twitter:title" content="Premier League Football News, Fixtures, Scores & Results" />
    <meta name="keywords" content="Premier League, Football, Soccer, Official" />
    <meta property="og:type" content="website" />
    <meta name="description"
        content="For all the latest Premier League news, visit the official website of the Premier League." />
    <meta name="twitter:description"
        content="For all the latest Premier League news, visit the official website of the Premier League." />
    <meta name="twitter:image"
        content="https://s3.amazonaws.com/premierleague-static-files/premierleague/pl_icon.png" />
    <meta property="og:title" content="Premier League Football News, Fixtures, Scores & Results" />
    <meta property="og:image" content="https://s3.amazonaws.com/premierleague-static-files/premierleague/pl_icon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
    <meta name="theme-color" content="#aa083a" />
    <title>Quản lý giải bóng đá vô địch quốc gia</title>

    <!-- Designed and built by Pulselive - www.pulselive.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="./css/badge-abbreviations.css">
    <link rel="stylesheet" href="./css/screen.css">
    <!--<![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <meta name="apple-itunes-app" content="app-id=1138895159">
</head>

<body>
    <header class="masthead">
        <!--Các câu lạc bộ-->
        <nav class="clubNavigation" data-script="pl_global-header" role="menubar">

            <div class="clubSitesHeading">
                <!-- TO-TRANSLATE -->
                <h4>Administrator
                </h4>
            </div>
            <ul class="clubList" role="menu">

            </ul>
        </nav>
        <!--Phần navbar-->
        <div class="fixedContainer" id="navbar">
            <a href="/" class="u-hide-tab logoContainer logo-resizable" id="mainlogo"
                aria-label="Premier League Home Page on logo link">
                <svg class="logo logo-resizable" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 175 175"
                    style="enable-background:new 0 0 131.1 166.7;transition: width 0,3s, height 0.3s;"
                    xml:space="preserve">
                    <style>
                        tspan {
                            white-space: pre
                        }

                        .shp0 {
                            fill: #e32b19
                        }

                        .shp1 {
                            fill: #991f18
                        }

                        .shp2 {
                            fill: #111111
                        }
                    </style>
                    <g id="Clip-Path: Page 1" clip-path="url(#cp1)">
                        <g id="Page 1">
                            <path id="Path 5" class="shp0"
                                d="M1.43 26.35C17.58 23.35 60.55 17.82 74.73 16.84C89.98 15.32 91.62 24.22 83.59 33.48C77.23 40.24 5.08 83.4 18.03 100.37C-10.63 70.77 54.76 38.6 63.95 28.68C74.94 17.25 25.86 24.42 1.43 26.35Z" />
                            <path id="Path 6" class="shp1"
                                d="M18.03 100.37C22.42 107.13 71.86 89.75 92.69 72.17C94.29 70.86 102.73 64.34 101.38 62C72.56 76.76 29.39 88.19 23.48 81.76C20.98 84.59 16.27 90.65 16.47 96.06C16.51 97.58 17.05 99.01 18.03 100.37Z" />
                            <path id="Path 7" class="shp0"
                                d="M101.38 62C107.9 62.29 107.65 72.87 93.59 79.63C71 91.27 43.7 110.32 55.95 130.37C21.56 113.15 64.28 83.93 82.93 74.59C87.69 72.05 103.14 65.81 101.38 62Z" />
                            <path id="Path 8" class="shp1"
                                d="M174.27 0.48C149.39 63.52 88.3 120.04 52.96 118.85C52.59 122.83 53.78 126.88 55.95 130.37C96.09 142.79 164.19 47.54 174.27 0.48Z" />
                            <path id="Path 9" class="shp0"
                                d="M153.04 14.09C152.99 13.88 152.95 13.76 152.95 13.76C152.99 13.88 153.04 14.09 153.04 14.09ZM150.86 21.88L150.86 21.92C151.07 21.71 152.01 20.73 152.83 18.97C152.87 18.88 152.91 18.8 152.95 18.72C152.95 18.72 152.95 18.68 152.99 18.68C153.28 17.86 153.36 17.16 153.32 15.98C153.28 15.44 153.16 14.66 153.04 14.09C153.2 14.91 153.49 16.96 152.91 18.6C152.38 20.2 151.15 21.55 150.86 21.88Z" />
                            <path id="Path 10" fill-rule="evenodd" class="shp0"
                                d="M147.01 13.23C147.13 13.07 147.3 12.9 147.46 12.74C148.4 11.8 149.59 10.93 150.82 10.57C151.85 10.28 152.87 10.28 153.81 10.81C153.32 10.69 152.63 10.69 151.64 10.98C149.43 11.63 147.91 13.68 147.34 14.71L147.01 13.23ZM146.72 13.23L147.09 14.79L145.08 13.72L144.71 12.25L146.72 13.23ZM142.75 10.93C143.77 9.95 144.88 9.21 146.11 8.84C147.38 8.48 149.22 8.39 151.77 9.13C151.36 8.93 150.86 8.8 150.41 8.64C148.77 8.19 147.34 8.19 146.03 8.6C144.75 9.01 143.61 9.75 142.58 10.73L140.53 9.75C140.65 9.62 140.9 9.34 141.35 8.93C141.43 8.89 141.52 8.76 141.6 8.72C141.68 8.68 141.76 8.6 141.8 8.56C141.93 8.48 142.01 8.39 142.13 8.31C142.17 8.31 142.21 8.27 142.25 8.23C142.3 8.23 142.34 8.15 142.38 8.15C142.75 7.9 143.16 7.66 143.69 7.45C144.43 7.08 145.57 6.71 146.97 6.71C148.45 6.71 150.17 7.12 152.05 8.27C152.34 8.43 153.08 9.01 153.61 9.62C154.14 10.28 154.47 10.77 154.63 11.06L154.55 11.02C153.4 10.03 152.05 9.95 150.78 10.32C149.47 10.73 148.24 11.59 147.3 12.53C147.13 12.7 146.97 12.86 146.85 13.03L144.71 12C145.04 11.43 145.7 10.73 146.93 9.99C147.75 9.46 148.61 9.13 149.3 8.97C148.53 8.93 147.58 9.05 146.56 9.5C144.88 10.24 143.53 12.04 143.28 12.62L142.75 10.93ZM145.45 16.71L146.64 15.61L146.68 17.94L145.53 19.05L145.45 16.71ZM145.41 21.3C144.06 20.94 142.87 20.36 141.88 19.5C141.15 18.8 140.33 17.7 139.71 16.02L139.71 15.94L139.67 15.94L139.67 15.85C139.51 15.44 139.38 14.99 139.26 14.5C139.26 14.99 139.38 15.44 139.51 15.89C139.96 17.53 140.7 18.76 141.72 19.71C142.71 20.61 143.93 21.18 145.37 21.55L145.45 23.89C145.29 23.85 144.92 23.8 144.26 23.56C144.18 23.56 144.06 23.52 143.97 23.48C143.89 23.44 143.81 23.39 143.73 23.35C143.61 23.31 143.48 23.27 143.36 23.23C143.32 23.19 143.28 23.19 143.24 23.15C143.2 23.15 143.12 23.11 143.07 23.07C142.71 22.9 142.25 22.66 141.8 22.29C140.41 21.39 138.2 18.97 138.36 14.66C138.36 14.38 138.48 13.43 138.77 12.66C139.22 11.47 139.63 10.85 139.67 10.85C139.22 12.49 139.88 13.97 140.98 14.87C142.05 15.77 143.57 16.3 145.21 16.75L145.29 19.13C144.67 19.17 143.73 18.97 142.42 18.27C141.6 17.82 140.94 17.33 140.45 16.84C140.82 17.49 141.35 18.19 142.21 18.8C143.69 19.83 145.9 20.12 146.56 20.03L145.41 21.3ZM145.29 16.51C143.69 16.1 142.21 15.53 141.15 14.66C140.33 13.97 139.79 13.07 139.71 11.8C139.88 12.29 140.2 12.86 140.98 13.56C142.66 15.16 145.25 15.48 146.39 15.44L145.29 16.51ZM145.62 21.47L146.76 20.2L146.8 22.37L145.7 23.68L145.62 21.47ZM155 12.49L154.39 12.86L153.12 13.64L151.44 13.39L153.32 12.21L155 12.49ZM149.71 20.89C149.92 19.5 149.63 17.94 149.14 16.3L151.23 15.16C151.56 15.69 151.81 16.59 151.85 18.03C151.89 18.93 151.77 19.75 151.6 20.4C151.97 19.79 152.3 18.97 152.42 17.9C152.58 16.18 151.77 14.21 151.36 13.64L152.95 13.89C153.45 15.53 153.53 16.88 153.2 18.15C152.87 19.3 152.18 20.4 151.19 21.59L151.11 21.71L151.03 21.75L150.99 21.84L150.41 22.53C151.85 21.35 153.08 19.5 153.45 18.19C153.77 16.92 153.73 15.53 153.24 13.89L155.25 12.66C155.33 12.82 155.46 13.15 155.54 13.72C155.58 13.84 155.62 13.97 155.62 14.05C155.62 14.13 155.66 14.21 155.66 14.34C155.66 14.46 155.7 14.54 155.7 14.71L155.7 14.83C155.7 14.91 155.74 14.99 155.74 14.99C155.74 15.44 155.74 15.94 155.7 16.51C155.58 18.19 154.59 21.26 150.78 23.31L150.78 23.27C150.49 23.44 149.63 23.8 148.81 23.93C147.54 24.13 146.76 24.09 146.76 24.09C148.45 23.6 149.47 22.29 149.71 20.89ZM149.02 16.1L147.58 15.77L149.55 14.54L150.99 14.99L149.02 16.1ZM147.46 15.98L148.89 16.34C149.35 17.94 149.63 19.5 149.43 20.85C149.26 21.96 148.69 22.94 147.5 23.64C147.87 23.31 148.28 22.7 148.53 21.59C149.06 19.34 148.08 17 147.46 15.98ZM140.57 10.03L142.5 10.98L143.03 12.57L141.11 11.59L140.57 10.03Z" />
                            <path id="Path 11" fill-rule="evenodd" class="shp2"
                                d="M14.14 175.57L10.28 175.57L0.69 151.02L7.45 156.89L12.21 169.14L19.51 151.02L22.83 153.93L14.14 175.57ZM35.33 171.52L43 171.52L47.67 175.57L30.82 175.57L30.82 151.02L35.33 154.92L35.33 171.52ZM24.63 175.57C23.36 175.57 22.33 174.55 22.33 173.28C22.33 172.01 23.36 170.99 24.63 170.99C25.9 170.99 26.93 172.01 26.93 173.28C26.93 174.55 25.9 175.57 24.63 175.57ZM53.58 160.9L63.05 160.9L67.31 164.55L67.31 164.79L53.58 164.79L53.58 171.52L62.88 171.52L67.56 175.57L53.37 175.57L49.07 171.85L49.07 151.02L62.96 151.02L67.56 155L53.58 155L53.58 160.9ZM104.29 154.55C104.13 154.71 103.88 154.84 103.63 154.84C99.9 155.08 96.66 157.75 95.84 161.39C94.98 165.04 96.66 168.81 99.94 170.66C103.18 172.5 107.28 171.97 109.99 169.35L109.99 166.39L107.61 166.39L102.94 162.38L114.37 162.38L114.37 170.57C112.61 173.07 110.03 174.84 107.08 175.57C105.11 176.03 103.02 176.03 101.05 175.57C95.35 174.22 91.62 169.22 91.66 163.36C91.7 157.54 95.76 152.5 101.42 151.19L104.49 153.85C104.54 154.1 104.45 154.34 104.29 154.55ZM134.26 173.32C132.46 175.08 130 176.03 127.5 175.94C124.95 176.03 122.49 175.08 120.69 173.32C118.84 171.56 117.82 169.14 117.82 166.6L117.82 151.02L122 154.63L122 166.6C122 168.03 122.58 169.39 123.64 170.37C124.67 171.35 126.06 171.85 127.5 171.81C128.89 171.85 130.28 171.35 131.35 170.37C132.37 169.39 132.95 168.03 132.95 166.6L132.95 151.02L137.13 154.63L137.13 166.6C137.13 169.14 136.1 171.56 134.26 173.32ZM145.53 160.9L155 160.9L159.27 164.55L159.27 164.79L145.53 164.79L145.53 171.52L154.84 171.52L159.56 175.57L145.33 175.57L141.07 171.85L141.07 151.02L154.96 151.02L159.56 155L145.53 155L145.53 160.9ZM174.89 175.57L170.42 175.57L170.42 154.96L165.5 154.96L170.05 151.02L174.89 151.02L174.89 175.57ZM91.58 175.57L84.61 169.55L84.2 168.53L74.98 168.53L72.27 175.57L68.91 172.71L77.27 151.02L81.54 151.02L85.55 160.78L81.04 160.78L79.45 156.93L76.49 164.67L82.6 164.67L81.04 160.78L85.55 160.78L91.58 175.57ZM103.63 154.84L104.49 153.85L103.63 154.84Z" />
                        </g>
                    </g>
                </svg>
                <div class="logoBackground logo-resizable"></div>
            </a>
            <div class="navContainer" data-script="pl_global-header">
                <section id="mainNav" class="navBar" role="menubar">
                    <div class="menuBtn" role="button" id="hamburgerToggle" aria-expanded="false">
                        <div class="menuBtnContainer">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <nav class="mainNav">
                        <ul class="pageLinks" role="menu">
                            <li class=" premierleague" tabindex="0" aria-haspopup="true" role="menuitem">
                                <div role="button" tabindex="index">
                                    <span class="navText">Phân quyền tài khoản</span>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <% let name='' ; for (let v=0;v<dataF.length;v++) { if (dataF[v].id==login[0].userId) {
                        name=dataF[v].lastName; } }%>
                        <span style="right: 120px; position: absolute;">
                            <%= name %>
                        </span>
                        <a href="/logout" hidden="true" class="navLink navOption navOption--no-border fantasySignOut"
                            role="button" tabindex="0">
                            <span class="fantasyUsername"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                        </a>
                </section>
            </div>
        </div>
    </header>
    <!--Thanh loading-->
    <div class="loader js-tab-loader u-hide">
        <div class="loader-small">
            <div class="line"></div>
        </div>
    </div>
    <!--Các tài khoản đã phân quyền-->

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid black;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        .action-buttons {
            display: flex;
            gap: 5px;
        }

        .action-buttons button {
            border: none;
            background-color: transparent;
            margin-right: 0;
        }
    </style>
    <table id="myTable">
        <tr>
            <th>Họ</th>
            <th>Tên</th>
            <th>Username</th>
            <th>Password</th>
            <th>Vai trò</th>
            <th>Đội bóng</th>
            <th>Phân quyền</th>
            <th>Xóa</th>
        </tr>
    </table>
    <form id='tablepq' method="post" action="/updateuser">
        <input hidden="true" name="userName" id="userName">
        <input hidden="true" name="roleId" id="roleuser">
        <input hidden="true" name="tenDoiBong" id="tendoibong">
    </form>
    <script>
        let doiBong = JSON.parse(unescape('<%- parseDataDoiBong %>'));
        let allCode = JSON.parse(unescape('<%- allcode %>'));
        let Data = JSON.parse(unescape('<%-data%>'));
        let login = JSON.parse(unescape('<%-Login%>'));
        let data = [];
        for (let i = 0; i < Data.length; i++)
            if (Data[i].id != login[0].userId) {
                data.push(Data[i]);
            }
        for (let i = 0; i < data.length; i++) {
            var table = document.getElementById("myTable");
            var row = table.insertRow(-1);

            var cell1 = row.insertCell(0);
            cell1.innerHTML = "<label>" + data[i].firstName + "</label>";

            var cell2 = row.insertCell(1);
            cell2.innerHTML = "<label>" + data[i].lastName + "</label>";

            var cell3 = row.insertCell(2);
            cell3.innerHTML = "<label>" + data[i].userName + "</label>";

            var cell4 = row.insertCell(3);
            cell4.innerHTML = "<label>" + data[i].password + "</label>";

            var cell5 = row.insertCell(4);
            cell5.innerHTML = createRoleSelect(i);

            var cell6 = row.insertCell(5);
            cell6.innerHTML = createDoiBongSelect(i);;

            addDeleteButton(row, i);
            addPermissionButton(row, i);
        }
        let roles = document.querySelectorAll('[id="roleiduser"]');
        let doibongs = document.querySelectorAll('[id="doibonguser"]');
        roles.forEach((role, i) => {
            role.addEventListener('change', () => {
                if (role.value == 'manager') {
                    doibongs[i].hidden = '';
                } else {
                    doibongs[i].hidden = 'true';
                }
            })
        })

        function createRoleSelect(i) {
            var select = "<select id='roleiduser' value='" + data[i].roleId + "'>";
            if (data[i].roleId == 'guest')
                select += "<option value='guest' selected>Khách</option>";
            else
                select += "<option value='guest'>Khách</option>";
            if (data[i].roleId == 'manager')
                select += "<option value='manager' selected>Manager</option>";
            else
                select += "<option value='manager'>Manager</option>";
            if (data[i].roleId == 'banquanly')
                select += "<option value='banquanly' selected>Ban Quản lý</option>";
            else
                select += "<option value='banquanly'>Ban Quản lý</option>";
            if (data[i].roleId == 'admin')
                select += "<option value='admin' selected>Admin</option>";
            else
                select += "<option value='admin'>Admin</option>";
            select += "</select>";
            return select;
        }

        function createDoiBongSelect(i) {
            let doibong = '';
            let tam = -1;
            for (let k = 0; k < allCode.length; k++) {
                if (allCode[k].userId === data[i].id) {
                    doibong = allCode[k].tenDoiBong;
                    tam = k;
                }
            }
            if (data[i].roleId == 'manager')
                var select = "<select id='doibonguser' value='" + doibong + "' >";
            else
                var select = "<select id='doibonguser' value='" + doibong + "' hidden='false'>";
            if (tam >= 0)
                for (let k = 0; k < doiBong.length; k++) {

                    if (doiBong[k].tenDoiBong == allCode[tam].tenDoiBong)
                        select += "<option value='" + doiBong[k].tenDoiBong + "' selected>" + doiBong[k].tenDoiBong + "</option>";
                    else
                        select += "<option value='" + doiBong[k].tenDoiBong + "'>" + doiBong[k].tenDoiBong + "</option>";
                }
            else
                for (let k = 0; k < doiBong.length; k++) {
                    select += "<option value='" + doiBong[k].tenDoiBong + "'>" + doiBong[k].tenDoiBong + "</option>";
                }
            select += "</select>";
            return select;
        }

        function addDeleteButton(row, i) {
            var cell = row.insertCell(6);
            var deleteButton = document.createElement("button");
            deleteButton.innerHTML = "Xóa";
            deleteButton.onclick = function () {
                window.location.href = '/delete-crud?id=' + data[i].id;
            };
            cell.appendChild(deleteButton);
        }
        function addPermissionButton(row, i) {
            var cell = row.insertCell(6);
            var permissionButton = document.createElement("button");
            permissionButton.innerHTML = "Phân quyền";
            permissionButton.onclick = function () {
                // Xử lý logic khi nhấp vào nút "Phân quyền"
                let form = document.getElementById('tablepq');
                let roleIdValue = document.getElementById('roleuser');
                let role = document.querySelectorAll('[id="roleiduser"]');
                let userNameValue = document.getElementById('userName');
                let tenDoiBongValue = document.getElementById('tendoibong');
                console.log(tenDoiBongValue)
                if (role[i].value === 'manager') {
                    let doibonguser = document.querySelectorAll('[id="doibonguser"]');
                    tenDoiBongValue.value = doibonguser[i].value;
                }
                roleIdValue.value = role[i].value;
                userNameValue.value = data[i].userName;
                console.log(userNameValue.value);
                form.submit();
            };
            cell.appendChild(permissionButton);
        }
    </script>
    <!--Footer chính-->
    <footer class="mainFooter" style="margin-top: 13rem;">
        <!--Nội dung Footer-->
        <div class="footerContent">
            <div class="wrapper">
                <!--GVDQG-->
                <div class="footerCol ">
                    <h3 class="subHeader">Giải vô địch quốc gia</h3>
                    <ul class="list--premier-league" role="menu">
                        <li> <a href="https://vpf.vn/" target="_self" role="menuitem">
                                <span class=" link">Trang chủ</span>
                            </a>
                        </li>
                        <li> <a href="https://vpf.vn/season/v-league-2024/?action=calendar&pagejs=1" target="_self"
                                role="menuitem">
                                <span class=" link">Trận đấu</span>
                            </a>
                        </li>
                        <li> <a href="https://vpf.vn/season/v-league-2024/?action=calendar&pagejs=1" target="_self"
                                role="menuitem">
                                <span class=" link">Kết quả</span>
                            </a>
                        </li>
                        <li> <a href="https://vpf.vn/season/v-league-2024/" target="_self" role="menuitem">
                                <span class=" link">Bảng xếp hang</span>
                            </a>
                        </li>
                        <li> <a href="https://vpf.vn/cac-doi-bong-v-league/" target="_self" role="menuitem">
                                <span class=" link">Câu lạc bộ</span>
                            </a>
                        </li>
                        <li> <a href="https://vpf.vn/cac-doi-bong-v-league/" target="_self" role="menuitem">
                                <span class=" link">Cầu thủ</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--More-->
                <div class="footerCol ">
                    <h3 class="subHeader">More</h3>
                    <ul class="list--more" role="menu">
                        <li> <a href="//www.premierleague.com/referees" target="_self" role="menuitem">
                                <span class=" link">Trọng tài</span>
                            </a>
                        </li>
                        <li> <a href="https://vpf.vn/cac-doi-bong-v-league/" target="_self" role="menuitem">
                                <span class=" link">Huấn luyện viên</span>
                            </a>
                        </li>
                        <li> <a href="https://vpf.vn/" target="_self" role="menuitem">
                                <span class=" link">Liên hệ</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--Thông tin nhóm-->
                <div class="footerCol ">
                    <h3 class="subHeader">Thông tin nhóm</h3>
                    <ul class="list--social" role="menu">
                        <li> <a href="https://courses.uit.edu.vn/user/profile.php?id=15617" target="_blank"
                                role="menuitem">
                                <span class=" link">Đỗ Gia Bảo - 21520602</span>
                                <span class="icn external-sm-pink"><span class="visuallyHidden">External
                                        Link</span></span>
                            </a>
                        </li>
                        <li> <a href="https://courses.uit.edu.vn/user/view.php?id=17439&course=11180" target="_blank"
                                role="menuitem">
                                <span class=" link">Lê Bá Khánh Dũng - 21521975</span>
                                <span class="icn external-sm-pink"><span class="visuallyHidden">External
                                        Link</span></span>
                            </a>
                        </li>
                        <li> <a href="https://courses.uit.edu.vn/user/view.php?id=17382&course=11180" target="_blank"
                                role="menuitem">
                                <span class=" link">Phan Huỳnh Thiên Trang - 21522698</span>
                                <span class="icn external-sm-pink"><span class="visuallyHidden">External
                                        Link</span></span>
                            </a>
                        </li>
                        <li> <a href="https://courses.uit.edu.vn/user/view.php?id=17438&course=11180" target="_blank"
                                role="menuitem">
                                <span class=" link">Trần Nguyễn Tuấn Anh - 21521840</span>
                                <span class="icn external-sm-pink"><span class="visuallyHidden">External
                                        Link</span></span>
                            </a>
                        </li>
                        <li> <a href="https://www.facebook.com/profile.php?id=1000095303243753" target="_blank"
                                role="menuitem">
                                <span class=" link">Đoàn Thị Tuyết Phương - 21522484</span>
                                <span class="icn external-sm-pink"><span class="visuallyHidden">External
                                        Link</span></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--Giáo viên hướng dẫn-->
                <div class="footerCol ">
                    <h3 class="subHeader">Giáo viên hướng dẫn</h3>
                    <ul class="list--more" role="menu">
                        <li>
                            <a href="https://courses.uit.edu.vn/user/profile.php?id=534" target="_self" role="menuitem">
                                <span class=" link">Đỗ Thị Thanh Tuyền</span>
                                <span class="icn external-sm-pink"><span class="visuallyHidden">External
                                        Link</span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Footer Corporate-->
        <div class="footerCorporate" data-script="pl_footer" data-widget="footer-corporate">
            <div class="wrapper col-12">
                <ul role="menu">
                    <li><strong>Giải vô địch quốc gia 2023</strong></li>
                    <li>
                        <a onclick="scrollToTop()" class="backToTopContainer" role="menuitem"
                            style="cursor: pointer;">Về đầu trang</a>
                        <script>
                            function scrollToTop() {
                                window.scrollTo({
                                    top: 0,
                                    behavior: "smooth"
                                });
                            }
                        </script>
                    </li>
                </ul>
                <!-- <div class="official"><a href="https://vpf.vn/" class="icn pl-logo-corporate"></a></div> -->
                <style>
                    .footerCorporate #ot-sdk-btn.ot-sdk-show-settings {
                        padding: 0;
                        border: 0;
                        background: none;
                        color: #000;
                        font-size: 11px;
                    }

                    .footerCorporate #ot-sdk-btn.ot-sdk-show-settings:hover {
                        background: none;
                        color: #000;
                        text-decoration: underline;
                    }
                </style>
            </div>
        </div>

    </footer>
    <script src="./scripts/vendors.min.js"></script>
    <script src="./scripts/main.min.js"></script>
    <script src="./widgets/common.min.js"></script>
    <script type="text/javascript">
        (function () {
            var adfScr = document.createElement("script");
            adfScr.src = "https://track.adform.net/serving/scripts/trackpoint/";
            adfScr.onload = function () {
                adf.container(998269, 'Master Tag');
            };
            document.head.appendChild(adfScr);
        })();
    </script>

    <div data-script="pl_chartbeat" data-widget="chartbeat-generic" data-chartbeat-uid="67021" data-page-title=""
        data-page-section="Premier League"></div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
</body>

</html>